<html xmlns="http://www.w3.org/1999/xhtml"                                                                                                                                                                                                  
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>
      Update Password
    </title>
    <script type="text/javascript" src="../js/update.js"></script>
  </head>

  <body>
    <div id="content">
      <div id="error" py:if="errors" style="display: block">${errors}</div>
      <div id="error" py:if="not errors"/>
      <div id="success" />
      <div py:if="not errors" id="userpass" class="change-pass">
        <h2>change password</h2>
        <form action="change_pass" method="post" name="change_pass" id="change_pass">
          <input py:if="username" type="hidden" id="username" name="username" value="${username}"/>
          <input py:if="token" type="hidden" id="token" name="token" value="${token}"/>
          <input py:if="not username" type="hidden" id="username" name="username" value=""/>
          <input py:if="not token" type="hidden" id="token" name="token" value=""/>
          <p py:if="not token"><label for="password">current password</label> <input type="password" id="password" name="password" /></p>
          <input py:if="not username" type="hidden" id="password" name="password" value="" />
          <p><label for="newpass1">new password</label> <input type="password" id="newpass1" name="newpass1" /></p>
          <p><label for="newpass2">new password (verify)</label> <input type="password" id="newpass2" name="newpass2" /></p>
          <p><input type="submit" name="Submit" value="Submit" /></p>
        </form>
      </div>
      <div id="requirements" py:if="not errors">
        <p><b>Password Requirements:</b>
          <ul>
            <li>8+ characters</li>
            <li>UppEr aND LoweR CaSe leTteRs</li>
            <li>one or more numerals</li>
            <li>one or more of the following symbols: ! @ # $ % ^ &amp; * ? _ ~ - ( )</li>
          </ul>
        </p>
        <p><b>PLEASE NOTE:</b> 
          <ul>
            <li>It may take up to 30 minutes for your new password to propagate across all systems.</li>
            <li>You may need to reboot your computer or clear your browser cache.</li>
          </ul>
        </p>
      </div> <!-- end content -->
    </div> <!-- end root -->
  </body>
</html>
