<html xmlns="http://www.w3.org/1999/xhtml"                                                                                                                                                                                                  
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>
      Password Utility
    </title>
  </head>
  <body>
    <div id="content">
      <div id="userpass" class="change-pass">
        <h2>change password</h2>
        <form action="change_pass" method="post" name="change_pass" id="change_pass">
          <input type="hidden" id="username" name="username" value="${username}"/>
          <p><label for="password">current password</label> <input type="password" id="password" name="password" /></p>
          <p><label for="newpass1">new password</label> <input type="password" id="newpass1" name="newpass1" /></p>
          <p><label for="newpass2">new password (verify)</label> <input type="password" id="newpass2" name="newpass2" /></p>
          <p><input type="submit" name="Submit" value="Submit" /></p>
        </form>
      </div>
      <div id="requirements">
        <p>Passwords requirements:
          <ul>
            <li>8+ characters</li>
            <li>UppEr aND LoweR CaSe leTteRs</li>
            <li>one or more numerals</li>
            <li>one or more of the following symbols: ! @ # $ % ^ &amp; * ? _ ~ - ( )</li>
          </ul>
        </p>
      </div> <!-- end content -->
    </div> <!-- end root -->
  </body>
</html>
