<html xmlns="http://www.w3.org/1999/xhtml"                                                                                                                                                                                                  
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>
      Password Utility
    </title>
  </head>
  <body>
    <div id="content">
      <p>
        This utility will change your password for the following services:
        <ul>
          <li>office fileserver</li>
          <li>lucid wiki</li>
          <li>redmine (coming soon)</li>
          <li>building dashboard network (coming soon)</li>
        </ul>
      </p>
      <p py:if="error" style="color: red;">
        ${error}
      </p>
      <div id="index-change" style="float: left; border: 1px dotted gray; padding: 10px; margin: 20px;">
        <h3>change existing password</h3>
        <form action="update" method="post" name="update" id="update">
          <div id="userpass">
            <p>username: <input type="text" id="username" name="username" /></p>
            <p>password: <input type="password" id="password" name="password" /></p>
            <p><input type="submit" name="Submit" value="Submit" /></p>
          </div>
        </form>
      </div>
      <div id="index-lost" style="float: left; border: 1px dotted gray; padding: 10px; margin: 20px;">
        <h3>lost password</h3>
        <form action="lost" method="post" name="lost" id="lost">
          <p>username: <input type="text" id="lost_username" name="lost_username" /></p>
          <p><input type="submit" name="Submit" value="Submit" /></p>
        </form>
      </div>
    </div>
  </body>
</html>
