<html xmlns="http://www.w3.org/1999/xhtml"                                                                                                                                                                                                  
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>
      Password Utility
    </title>
  </head>
  <body>
    <div id="content">
      
      <div id="info">
        <p>
          This utility will change your password for the following services:
          <ul>
            <li>office fileserver</li>
            <li>lucid wiki</li>
            <li>redmine (coming soon)</li>
            <li>building dashboard network (coming soon)</li>
          </ul>
        </p>
      </div>

      <p py:if="error" class="error">
        ${error}
      </p>
      <div id="index-change">
        <h3>change existing password</h3>
        <form action="update" method="post" name="update" id="update">
          <div id="userpass">
            <p><label for="username">username</label> <input type="text" id="username" name="username" /></p>
            <p><label for="password">password</label> <input type="password" id="password" name="password" /></p>
            <p><input type="submit" name="Submit" value="Submit" /></p>
          </div>
        </form>
      </div>
      <div id="index-lost">
        <h3>reset lost password</h3>
        <form action="lost" method="post" name="lost" id="lost">
          <p><label for="lost_username">username</label> <input type="text" id="lost_username" name="lost_username" /></p>
          <p><input type="submit" name="Submit" value="Submit" /></p>
        </form>
      </div>
    </div>
  </body>
</html>
