<html xmlns="http://www.w3.org/1999/xhtml"                                                                                                                                                                                                  
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>
      Password Utility
    </title>
  </head>
  <body>
    <div id="content">
      <div py:if="errors" style="color: red">
        <ul>
          <li py:for="error in errors">${error}</li>
        </ul>
      </div>
      <div py:if="username">
        <h2>change password</h2>
        <p>Passwords requirements:
          <ul>
            <li>8+ characters</li>
            <li>UppEr aND LoweR CaSe leTteRs</li>
            <li>one or more numerals</li>
            <li>one or more of the following symbols: ! @ # $ % ^ &amp; * ? _ ~ - ( )</li>
          </ul>
        </p>
        <div id="userpass">
          <form action="reset_pass" method="post" name="reset_pass" id="reset_pass">
            <input type="hidden" id="username" name="username" value="${username}"/>
            <p>new password: <input type="password" id="newpass1" name="newpass1" /></p>
            <p>new password: <input type="password" id="newpass2" name="newpass2" /> (verify)</p>
            <p><input type="submit" name="Submit" value="Submit" /></p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
